@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: "Signika", sans-serif
}

a {
	color: currentColor;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

img {
	max-width: 100%;
}


.spotify {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    flex-grow: 1;
    display: flex;
}

/* SPOTIFY MEDIA PLAYER */
.spotify-player {
    background-color: #282828;
    width: 100%;
    height: 95px;
}

.player {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* SONG INFO */
.song-info {
    display: flex;
    margin-left: 1rem;
    align-items: center;
}

.song-img {
    max-width: 50px;
    max-height: 50px;
    display: block;
    aspect-ratio: 1/1;
}

.artist-playing{
    font-weight: 800;
    padding-left: 0.5rem;
    color: #ffffff;
}

.song-title {
    font-weight: 100;
    padding-left: 0.5rem;
    color: #7c7c7c;
}

.info-icon {
    display: flex;
    padding: 1rem;
    color: #7c7c7c;
    gap: 10px;
    font-size: 20px;
}

/* SPOTIFY PLAYING STATUS */
.timeline {
    width: 550px;
    height: 70px;
    margin-top: 0.5rem;
}


/* AUDIO WIDGET */
.audio-widget {
    display: flex;
    width: 210px;
    height: 20px;
    margin-right: 1rem;
    align-items: center;
}

.audio-icon {
    display: flex;
    padding: 1rem;
    color: #7c7c7c;
    gap: 10px;
    font-size: 20px;
}

.volume {
    width: 120px;
    height: 10px;
}



.sidebar {
    width: 230px;
    background-color: #000000;
}

.music {
    flex-grow: 2;
    background-color: #151922;
}