@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-family: "Signika", sans-serif
}

a {
	color: currentColor;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
    display: inline-block;
    
}

img {
	max-width: 100%;
}

li {
    margin: 15px 0;
  }

hr.solid {
    width: 100%;
    border-top: 1px solid #bbb;
    margin-top: 1rem;
    margin-bottom: 1rem;
}


.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.app-body {
    flex-grow: 1;
    display: flex;
}

.btn {
    background-color: transparent;
    border: none;
}

/* SPOTIFY MEDIA PLAYER */
.app-player {
    background-color: #282828;
    width: 100%;
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

/* SONG INFO */
.song-info {
    display: flex;
    align-items: center;
}

.song-img {
    max-width: 50px;
    max-height: 50px;
    display: block;
}

.artist-playing {
    font-weight: 800;
    color: #ffffff;
    padding-left: 0.5rem;
}

.song-title {
    font-weight: 100;
    color: #7c7c7c;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.info-icon {
    display: flex;
    color: #7c7c7c;
    gap: 10px;
    font-size: 16px;
    margin-left: 1rem;
}

/* SPOTIFY PLAYING STATUS */
.player {
    width: 35%;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.controls .control-icon {
    font-size: 16px;
    padding: 0.5rem;
    color: #d3d3d3;;
}

.timeline {
    display: flex;
}

.timeline-slider {
    flex-grow: 1; 
    background: #7c7c7c;
    accent-color: #d3d3d3;
}

.progress {
    color: #d3d3d3;
    padding-right: 10px;
}

.total {
    color: #d3d3d3;
    padding-left: 10px;
}


/* AUDIO WIDGET */
.audio-widget {
    display: flex;
    width: 210px;
    height: 20px;
    align-items: center;
    padding-left: 0.5rem;
}

.audio-icon {
    display: flex;
    color: #d3d3d3;
    gap: 10px;
    font-size: 16px;
}

.volume-slider {
    background: #7c7c7c;
    accent-color: #d3d3d3;
}


/* MENU */
.sidebar {
    width: 230px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
}

.logo-full { 
    width: 70%;   
    padding: 1rem;
}

.logo-small {
    display: none;
}

/* MAIN MENU */
.menu-item .item-icon {
	width: 45px;
}

.item-text {
    color: #d3d3d3;
}

.menu-item {
	position: relative;
}

.menu-item.active::before {
	position: absolute;
	content: '';
	display: block;
	height: 100%;
	width: 3px;
	top: 0;
	left: 0;
	background-color:#99d378;
}



.playlist {
    color: #d3d3d3;
    margin: 1rem;
}

.playlist-title {
    font-weight: 800;
    color: #ffffff;
    margin: 0.5rem;
    text-transform: uppercase;
}

.btn-playlist {
    background-color: #d3d3d3;
    width: 40px;
    height: 40px;
    font-size: 24px
}

.install {
    margin-top: auto;
    padding: 1rem;
    color: #7c7c7c;
}

.account {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.account-name {
    font-weight: 800;
    color: #ffffff;
    font-size: 18px;
    gap: 0.5rem;
}

.account-icon {
    width: 30px;
    background-color: #7c7c7c;
    border-radius: 999px;
    text-align: center;
}

.download {
    display: flex;
    align-items: center;
}
.download-icon {
    width: 30px;
}

/* APP - CONTENT*/

.app-content {
    flex-grow: 2;
    background-color: #151922;
}

.content {
    width: 100%;
    overflow-y: scroll;
}

.premium {
    background-color: #080b12;
    height: 5rem;
    text-align: center;
}

.premium-button {
    width: 250;
    height: 50;
    border: 2px solid #ffffff;
    color: #ffffff;
    border-radius: 999px;
    float: right;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 18px;
}

.content-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.content-items {
    height: 800px;
}

.title-content {
    color: #ffffff;
    padding-left: 1rem;
    padding-top: 2rem;
}

.link-menu {
    color: #ffffff;
    text-transform: uppercase;
}

.recent {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1rem;
    padding-left: 2rem;
}

.recent-img {
    width: 200px;
    height: 200px;
}

.recent-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.item-title {
    color: white;
    font-size: 18px;
} 

.item-desc {
    color: #7c7c7c;
}

/* MEDIUM */
@media (max-width: 767.99px) {

}

/* SMALL */
@media (max-width: 575.99px) {
    .sidebar {
        width: 50px;
    }
    .volume-slider {
        display: none;
    }

    .info-icon {
        display: inline-block;
        padding: 1rem;
    }

    .app-player {
        gap: 2rem;
    }

    .song-title {
        display: inline-block;
    }

    .artist-playing {
        display: inline-block;
        font-size: 10px;
        padding-left: 0.1;
    }

    .playlist {
        display: none;
    }

    .logo-full {
        display: none;
        width: 0px;
    }

    .logo-small {
        display: inline-block;
        padding: 0.5rem;
    }

    .menu-text {
        display: none;
    }

    .account-name {
        display: none;
    }

    .download-text {
        display: none;
    }

    .item-text {
        display: none;
    }
    
    .menu-item.active::before {
        display: none;
    }

    .recent-img {
        width: 150px;
        height: 150px;
    }

}
